* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: url('../img/texture.png') no-repeat center center fixed;
    background-size: cover;
    font-family: montserrat;
}


/* Anvender :root til at sætte farverne (dette er smart, så man nemt kan ændre alle af den samme farve på siden) */
:root {
    --dark-blue: #024158;
    --light-blue: #CEDFE3;
    --red: #D33D34;
    --beige: #FFF9F2;
}
/* For at bruge disse farver skrives det således:

div {
    background-color:var(--beige);
}
Her giver får baggrunden på div'en den fastlagte beige farve.
*/


/* Anvender @font-face for at kunne bruge en bestemt font */
@font-face {
    font-family: "headerFont";
    src: url("/font/grand.woff") format("woff");
}
/* For at bruge denne font skrives det således:

div {
    font-family: headerFont;
}

Her giver får baggrunden på div'en den fastlagte beige farve.
*/

/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/************************************************************** FORSIDE **************************************************************/
/*************************************************************************************************************************************/
main h2 {
    font-family: headerFont;
    color: var(--dark-blue);
}

.solid {
    display: flex;
    width: 70%;
}

.kasse {
    display: flex;
    width: 25%;
}

.kasse img {
    width: 90%;
}

.bestil {
    width: 10%;
    height: 10%;
}

.kant {
    display: flex;
    width: 70%;  
}

.kant img {
    display: flex;
    flex-direction: row;
    width: 25%;
}

/*************************************************************************************************************************************/
/*********************************************************** YASAI KASSEN ************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/************************************************************* BYG SELV **************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/********************************************************* SÅDAN FUNGERER DET ********************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/**************************************************************** FAQ ****************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/************************************************************* DIN KURV **************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/************************************************************ TILMELD DIG ************************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/***************************************************************** UPS ***************************************************************/
/*************************************************************************************************************************************/

/*************************************************************************************************************************************/
/********************************************************** SUCCES/ANNULLERET ********************************************************/
/*************************************************************************************************************************************/


/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/

.n-kontur {
    width: 121px;
    height: 128px;
    margin-bottom: 102px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    background-color: var(--beige);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    position: relative;
    z-index: 2;
    padding: 0 29px;
    height: 227px;
    border-top: solid var(--red) 1px;
}

footer h2, footer a {
    color: var(--red);
    font-weight: 400;
}

footer img {
    height: 60px;
    padding: 0 15px;
    margin-top: 77px;
}

#footer-left {
    margin-top: 24px;
}

#footer-right {
    text-align: right;
    margin-top: 24px;
}

#footer-left h2 {
    font-size: 32px;
    line-height: 39px;
    padding: 7px 0;
    font-family: 'headerFont';
}

#footer-left a {
    display: block;
    font-size: 25px;
    line-height: 39px;
    padding: 7px 0;
}

#footer-right a {
    display: block;
    padding: 7px 0;
    font-size: 32px;
    line-height: 39px;
}

/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/



